@charset "UTF-8";
/* 
FUENTES SEGURAS 

que esta grarantizadas para estar en la mayoria de navegadores o dispositivos.

pagina para ver las familias mas comunes de fuentes de texto
y su compativilidad con equipos
https://www.cssfontstack.com/


apis que vamos a utilizar



*/
html {
  font-size: 150%;
}

body {
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  display: inline-block;
  line-height: 1;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: .8rem;
  white-space: nowrap;
  background-color: #ff4842;
  border: none;
  font-weight: bold;
  cursor: pinter;
  margin: 0;
  margin-left: 1px;
  padding: 1em;
  border-radius: 1px;
}

.btn:hover {
  text-decoration: none;
}

.btn:active,
.btn:focus {
  outline: none;
}

.main-header {
  text-align: center;
  background-color: #16210b;
  color: white;
  padding: .4em;
  word-wrap: break-word;
  /* comando para que las palabras largas pasen a otra linea */
}

.main-header h1 {
  margin: 0;
}

.main-header h2 {
  font-size: 1rem;
  font-weight: normal;
}

/* @media screen and (min-width: 25em) {
        .main-header {
            background-color: olive;
        }
    }
    @media screen and (orientation: landscape) {
        .main-header {
            background-color: black;
        }
    } */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-size: 3rem;
}

.search__text {
  width: 75%;
  font-size: 1rem;
}

.card {
  position: relative;
  /*lo mejor seria primero posicionar y despues estilizar*/
  height: 30vh;
  width: 100%;
  background-color: eaeaea;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 3px black;
  padding: 1.5em;
  font-family: 'Lato', cursive;
  margin-bottom: .5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card__title {
  margin: 0;
  text-align: center;
}

.card__time {
  font-size: .7rem;
  margin: 0;
  text-align: center;
}

.card__time::after,
.card__time::before {
  content: " - ";
}

.card__info {
  position: absolute;
  bottom: .4em;
  left: .4em;
  font-size: .7rem;
  text-align: center;
}

.card__image {
  display: block;
}

.card__maxt {
  color: #37b948;
  text-shadow: none;
}

.card__maxt::before {
  content: "Max:";
}

.card__maxt::after {
  content: "°C";
}

.card__mint {
  color: #bc2929;
  text-shadow: none;
}

.card__mint::before {
  content: "Min:";
}

.card__mint::after {
  content: "°C";
}

.card__temp {
  display: block;
  font-size: 3rem;
  line-height: 1;
}

.card__temp::after {
  content: "°C";
}

/*
    VARIABLES AL TENER EN CUENTA A TENER LAS VARIABLES
LA WEB

EL PESO
EL TAMAÑO
LA PRESENTACIÓN ARTISTICA
es decir que no pueda apreciarla no importando el tamaño
*/
