/* 
FUENTES SEGURAS 

que esta grarantizadas para estar en la mayoria de navegadores o dispositivos.

pagina para ver las familias mas comunes de fuentes de texto
y su compativilidad con equipos
https://www.cssfontstack.com/

*/

$gutter: .4em;

@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} 


html {
    font-family: 'Ovo', sans-serif;
    font-size: 110%;
}
@media all and (min-width: 25em) {
    html {
        font-size: 80%;
    }
}
body {
    margin: 0;
    padding: 0;
    
}
.main-header {
    text-align: center;
    background-color: #16210b;
    color: white;
    padding: 4em;
    word-wrap: break-word; /* comando para que las palabras largas pasen a otra linea */
}
    .main-header h1 {
        margin: 0;
    }
    .main-header h2 {
        font-size: 1rem;
        font-weight: normal;
    }
    /* @media screen and (min-width: 25em) {
        .main-header {
            background-color: olive;
        }
    }
    @media screen and (orientation: landscape) {
        .main-header {
            background-color: black;
        }
    } */

.card {
    position: relative; /*lo mejor seria primero posicionar y despues estilizar*/
    height: 30vh;
    width: 100%;
    background-size: cover;
    color:white;
    padding: $gutter;
    font-family: 'Megrim', cursive;
    @include border-box;
}
    .card--valencia {
        background-image: url(img/valencia-small.png);
    }
    .card--mv {
        background-image: url(img/mv.jpg);
    }
    .card__title {
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }
    .card__date {
        font-size: .7rem;
        margin: 0;
        text-align: center;
    }
    @media all and (min-width: 28em) {
        .card--valencia {
            background-image: url(img/valencia.png);
            background-position: center;
        }
        .card--mv {
            background-image: url(img/mv.jpg);
            background-position: center;
        }
    }
    .card__info {
        position: absolute;
        bottom: $gutter;
        left: $gutter;
        text-align: center;
    }
    .card__image {
        display: block;
        margin: 0 auto;
    }
    .card__temp {
        display: block;
        font-size: 3rem;
        line-height: 1;
    }
    .card__maxt::before {
        content: "Max:";
    }
    .card__mint::before {
        content: "Min:";
    }
    /*
    VARIABLES AL TENER EN CUENTA A TENER LAS VARIABLES
LA WEB

EL PESO
EL TAMAÑO
LA PRESENTACIÓN ARTISTICA
es decir que no pueda apreciarla no importando el tamaño
*/